<div class="row">
    <div class="col-12">
        <nb-form-field>
            <input 
                nbInput
                (keyup)="onKeyUpSearch($event)"
            >
            <nb-icon
                nbPrefix
                [icon]="'search'"
            >
            </nb-icon>
        </nb-form-field>
        <hr />
    </div>
    <div class="row" *ngIf="comics?.results && comics?.results.length > 0; else empty">
        <div class="col-6" *ngFor="let comic of comics?.results">
            <app-comic-card [comic]="comic">
            </app-comic-card>
        </div>
    </div>
    <ng-template #empty>
        <nb-alert accent="warning">Not Found!</nb-alert>
     </ng-template >
</div>
  